

body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    width: 600px;
    height: 200px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid black;
}

#colorText {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 2px;
    font-size: 24px;
}


#Btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    color: black;
    border-radius: 2px;
    position: relative;
    bottom: 80px;
}


